
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Cinzel:wght@500&family=Rubik+Dirt&family=Cinzel+Decorative:wght@400;900&display=swap');
*{
    /* sizing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font */
    text-align: center;
    color: rgba(237, 203, 157, 0.9);
    font-family: "Raleway";
    

}
    *::-webkit-scrollbar {
        display: none;
    }

    @keyframes glow {
        from {
        text-shadow: 0 0 0.05vh rgba(255, 255, 255, 0.1), 0 0 0.1vh rgba(255, 255, 255, 0.1), 0 0 0.2vh rgba(255, 255, 255, 0.2), 0 0 0.4vh rgba(255, 255, 255, 0.2), 0 0 0 .8vh rgba(255, 255, 255, 0.2);
        }
        
        to {
        text-shadow: 0 0 0.1vh rgba(255, 255, 255, 0.1), 0 0 0.2vh rgba(240, 248, 255, 0.2), 0 0 0.4vh rgba(255, 255, 255, 0.2), 0 0 .4vh rgba(255, 255, 255, 0.2), 0 0 .8vh rgba(255, 255, 255, 0.2);
        }
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        inherit {
            opacity: 1;
        }
    }

html{
    /* background */
    background-image:  url(../static/images.jpeg);
    background-size: cover;
    /* size */
    width: 100vw;
    height: 100vh;
}

        header{
            background-color: rgba(33, 55, 63, 0.7);
            border-radius: 2vh;
            /* size */
            margin: 1vh;
            padding: 1vh;
            /* font */
            font-size: 5vh;
            font-family: "Cinzel Decorative";
            color: rgba(206, 155, 103, 0.8);
            /* animation */
            animation: fadeInAnimation ease 3s, glow 1s ease-in-out infinite alternate;
            /* display */
            display: flex;
            justify-content: space-evenly;
        }
        header > div {
            font-family: "Cinzel Decorative";
        }
            .special-header{
                height: inherit;
                font-family: "Cinzel Decorative";
                font-size: 2vh;
                align-items: center;
                display: flex;
            }
        
        
        nav{
            background-color: rgba(237, 203, 157, 0.2);
            border-radius: 2vh;
            /* size */
            margin: 1vh;
            padding: 1vh;
            /* font */
            font-size: 2vh;
            /* animation */
            animation: fadeInAnimation ease 3s;
            /*  */
            font-family: Cinzel;
            font-weight: bolder;
            color: rgba(33, 55, 63, 0.8);
            /* display */
            display: flex;
            justify-content: space-evenly;
        }

        main {
            /* display */
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            /* size */
            width: 100vw;
            height: 76vh;
            max-height: 76vh;
            /* scroll */
            overflow-y: scroll;
            scrollbar-width: none;
            /* animation */
            animation: fadeInAnimation ease 8s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

            main > div, main > div > div{
                /* background and set */
                background-color: rgba(33, 55, 63, 0.7);
                border-radius: 3vh;
                padding: 1vh;
                margin: 2vh;
                width: fit-content;
                max-width: 50vw;
                height: max-content;
            }
            main > div{
                max-height: 74vh;
                /* scroll */
                overflow-y: scroll;
                scrollbar-width: none;
            }
            main > div > div{
                margin: 1vh auto;
            }

    
/*HEADERS*/
h2, h3, h4, h5, h6 {
    background-color: rgba(161, 84, 76, 0.8);
    border-radius: 2vh;
    /* sizing */
    padding: 1vh;
    margin: 2vh !important;
    padding-bottom: 0.5vh;
    margin: 0;
    /* font */
    font-family: Cinzel;
}
/* TEXT MANIPULATION */
.accent{
    color:rgba(161, 84, 76,0.9);
    /* animation */
            animation: fadeInAnimation ease 3s, glow 1s ease-in-out infinite alternate;
}
.emoji{
    font-size: 20vh;
    display: block;
}

img {
    filter: opacity(0.5);
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 80%;
    width: 25vw; /* width of container */
    object-fit: cover;
}

button, a{
    font-size: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-family: Cinzel;
    font-weight: inherit;
}
    .fancy-button {
        display: block;
        margin: 1vh auto;
        transition-duration: 0.4s;
        /* background */
        background-color: rgba(240, 248, 255, 0.1);
        /* border padding */
        border: 0.15vh rgba(161, 84, 76,0.9) solid;
        border-radius: 1vh;
        padding: 0.5vh 2.5vh 0.5vh 2.5vh;
        /* font */
        font-size: 2vh;
        font-family: Cinzel;
        color: rgba(161, 84, 76,0.9);
        text-decoration: none;
    }
    a:hover, button:hover {
        transform: translateY(-0.25vh);
        cursor: pointer;
    }

    .no-background{
        background-color: rgba(240, 248, 255, 0);
    }
    .done{
            background-color: rgba(161, 84, 76, 0.8);
        }
/* FORMS */
form{
    max-width: 33vw;
    margin: 0 auto
}
input, select, textarea, select:focus{
    /* background and border */
    background-color: rgba(240, 248, 255, 0.6);
    border: none;
    border-radius: 2vh;
    outline: none;
    /* size */
    width: 100%;
    box-sizing: border-box;
    padding: 1vh 2vh;
    margin: 1vh 0;
    resize: none;
    /* font */
    font-family: "Raleway";
    font-size: 2vh;
    color: rgba(0, 0, 0, 0.6);
}

/* TABLES */
table{
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    /* padding and margin */
    padding: 1vh;
    margin: 1vh auto;
    table-layout: fixed;
    word-wrap:break-word;
}
    th {
        padding-top: 1vh;
        padding-bottom: 1vh;
        background-color:rgba(0, 194, 175, 0.8);
        color: rgba(255, 255, 255, 0.6);
        }
    td, th {
    border: 1px solid rgba(240, 248, 255, 0.3);
    padding: 8px;
    }
    
    tr:nth-child(even){
        background-color: rgba(255, 255, 255, 0.15);
    }
    tr:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
/* LISTS */
ul {
    list-style-type: none;
    }    
        ul > li{
            margin: 2vh;
        }
/*Tablet 800 Half 1000 */
@media only screen and (max-width: 1000px) {
    img{
        width: 45vh;
        max-width: 80vw;
    }
}
/* Phone is 600px*/
@media only screen and (max-width: 600px) {
    img{
        width: 50vh;
        max-width: 98vw;
    }
}
